@using CameoMvc.Areas.QAD.Models;
@model M_QAD002

@{
    <!-- 抬頭功能名稱 -->
    var TitleText = Model.FUNC_NAME + "(" + Model.FUNC + ")";

    <!-- 判斷是否為行動裝置，以採用對應的樣式 -->
    //預設為展開
    var divCard_Style = "card";
    var imgCard_Style = "fas fa-minus";

    //行動裝置，改為縮合
    if (Model.PHON)
    {
        divCard_Style = "card collapsed-card";
        imgCard_Style = "fas fa-plus";
    }
}

<!-- 導入 QR Code Reader -->
<div id="modal-qr" class="modal fade show" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" width="400">
            <div class="modal-header">
                <!-- 選擇影像來源 -->
                <div id="SelectSrc" style="display:none">
                    <label for="sourceSelect">選擇鏡頭</label>
                    <select id="sourceSelect" style="max-width:400px"></select>
                </div>
                <div id="ChangeSrc">
                    <a class="btn btn-app bg-success">
                        <i class="glyphicon glyphicon-refresh"></i>
                        更換鏡頭
                    </a>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <video id="video" width="400" height="300"></video>
            </div>
        </div>
    </div>
</div>

<div id="divCard" class="@divCard_Style">
    <div class="card-header bg-gradient-primary">
        <h3 class="card-title">@TitleText</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="收合">
                <i class="@imgCard_Style"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <!-- 輸入框 -->
        <!-- 當有多個按鍵時，為了不要直接觸發 Submit，要加入 keypressHandle -->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-1">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.QM.WO, new { @placeholder = "請輸入工單", @class = "form-control", @onkeypress = "keypressHandle(event);" })
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-1">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.QM.CSN, new { id = "txt1", @placeholder = "借出箱號或產品序號(CSN)", @class = "form-control", @autofocus = "", @onkeypress = "keypressHandle(event);" })
                    <div id="btnScan1" name="txt1" class="input-group-addon" data-toggle="modal" data-target="#modal-qr">
                        <div class="input-group-text">
                            <span class="fas fa-barcode"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-1">
                <div id="bootstrap-datepicker" class="input-group date">
                    <div class="input-group-prepend">
                        <div class="input-group-text">日期(起)</div>
                    </div>
                    @Html.TextBoxFor(model => model.QM.SDate, new { @class = "form-control datetimepicker-input", @placeholder = "YYYY/MM/DD" })
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-1">
                <div id="bootstrap-datepicker" class="input-group date">
                    <div class="input-group-prepend">
                        <div class="input-group-text">日期(訖)</div>
                    </div>
                    @Html.TextBoxFor(model => model.QM.EDate, new { @class = "form-control datetimepicker-input", @placeholder = "YYYY/MM/DD" })
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">查詢模式</div>
                    </div>
                    @Html.DropDownListFor(model => model.QM.TYPE, Model.DDL_TYPE, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button name="button" type="submit" class="btn btn-primary col-12" value="Query" id="btnQuery">查詢</button>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <button name="button" type="submit" class="btn btn-info col-12" value="Export">匯出</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (!$.fn.bootstrapDP && $.fn.datepicker && $.fn.datepicker.noConflict) {
        var datepicker = $.fn.datepicker.noConflict();
        $.fn.bootstrapDP = datepicker;
    }
    $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
    //$.datepicker.show();
    $("#QM_SDate").datepicker({
        dateFormat: "yy/mm/dd",
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true
    });
    $("#QM_EDate").datepicker({
        dateFormat: "yy/mm/dd",
        showButtonPanel: true,
        changeMonth: true,
        changeYear: true
    }); 
</script>